<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./styles/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="./styles/header.css">

    <link rel="stylesheet" href="./styles/StyleAU.css">
    <link rel="stylesheet" href="./styles/styleAU1.css">
</head>
<body>
    {{>header Link= "/logout" tag= "Logout"}}

    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <div class="imgContainer">
            <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg">
            <img class="mainImg" src="https://images.pexels.com/photos/4778627/pexels-photo-4778627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
          </div>
          <div class="responsive-container-block textSide">
            <p class="text-blk heading">
              About Us
            </p>
            <p class="text-blk subHeading">
                Welcome to our website! <br><br>

                Our goal is to make your work easier by creating an online website where students can 
                freely upload their documents and get their printouts. <br>
                Due to over crowd in stationary shops we have made this website so that 
                without any wastage of energy and time you can get your documents printed .
            </p>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Nisha
                </p>
                <p class="text-blk cardSubHeading">
                  Student
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Udit Gupta
                </p>
                <p class="text-blk cardSubHeading">
                  Student
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Utkarsh Joshi
                </p>
                <p class="text-blk cardSubHeading">
                  Student
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Bhupinder Singh
                </p>
                <p class="text-blk cardSubHeading">
                  Student
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <div class="cardImgContainer">
                  <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
                </div>
                <div class="cardText">
                  <p class="text-blk cardHeading">
                    Shrey Choudhary
                  </p>
                  <p class="text-blk cardSubHeading">
                    Student
                  </p>
                </div>
              </div>
            
          </div>
          <div >
            <a>
                <button class="explore">
                  Explore our Services
                </button>
              </a>
          </div>
          <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
        </div>
      </div>
</body>
</html>