<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./Images/favIcon.png">

    
    
</head>
<body>
    {{>header Link= "/logout" tag= "Logout" orders= "y"}}

    <section class="container">
        <div class= "parts" id="section-1">
            <h1 class="primary">Upload Your Document Here</h1>
            <h3 class="secondary">Upload only PDF format here!</h3>
        </div>
        <div class= "parts" id="section-2">
            <form action="/upload" method="post" enctype="multipart/form-data" class="form">
                <div class="part-1">
                    <input type="file" class="file-upload" name="fileName" required accept=".pdf" id="file-upload" />
                    <label for="file-upload" class="file-label" id="file-name">
                        Upload File
                    </label>   
                </div>

                <div class="part-2">
                    <h3 class="secondary" style="font-size: 1.5rem; font-weight: 400;">Enter your preferences here: </h3>
                    <span class="min-span">
                        <h3 class="secondary">Color Preference: </h3>
                        <label>
                            <input type="radio" required name="Preferences" id="radio" value="Black&White" style="font-size: 1.2rem;">Black and White
                        </label>
                        <label>
                            <input type="radio" required name="Preferences" id="radio" value="Colored" style="font-size: 1.2rem;">Colored
                        </label>
                    </span>
                    <span class="min-span">
                        <h3 class="secondary">Stationary Shop: </h3>
                        <label>
                            <input type="radio" required name="Stationary" id="radio" value="NCT-4" style="font-size: 1.2rem;">NCT-4
                        </label>
                        <label>
                            <input type="radio" required name="Stationary" id="radio" value="Tagore" style="font-size: 1.2rem;">Tagore
                        </label>
                        <label>
                            <input type="radio" required name="Stationary" id="radio" value="C3" style="font-size: 1.2rem;">C3
                        </label>
                    </span>
                    <button type="submit" value="submit" class="proceed-btn">Proceed To The Order</button>
                </div>
            </form>

        </div>
        

    </section>
    
</body>
<script>
    const fileUpload = document.getElementById('file-upload');
    const fileNameDisplay = document.getElementById('file-name');

    fileUpload.addEventListener('change', function() {
        const files = this.files;
        if (files.length > 0) {
            console.log(files);
            fileNameDisplay.textContent = files[0].name;
        } 
        else {
            fileNameDisplay.textContent = '';
        }
    });

</script>
</html>