<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintDeck-Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/header.css">
</head>
<body>
    
    <div class="page">
        {{>header Link= "/login" tag= "Logout"}}
         <div class="container">
            <div class="left">
                <div class="heading">
                    <h2 id="long">  Long queue at</h2>
                    <h1 id="Printing">Printing Shop?</h1>
                    <h4 id="One">One Click and no need to wait in </h4><h4>that queue! Get your worksheet </h4><h4>ready hassel free by using </h4>
                    <h3 id="PrintDeck">PrintDeck</h3>
                </div>
                <div class="get">
                    <button class="GET">Get Started</button>
                </div>
            </div>
            <div class="right">
                <div class="backgr">

                </div>

                <div class="bimg">
                    <img src="./Images/sexy girl.jpg" alt="">
                </div>
            </div>

    </div>


    </div>

   
</body>
</html>