<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | PrintDeck</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="icon" type="image/x-icon" href="./Images/favIcon.png">
    <link rel="stylesheet" href="./styles/home.css">

</head>
<body>
    <div class="container">
    </div>

    <div class="navigation">
        <nav id="nav-bar">
            <div id="item1">
                <img src="./Images/logo.png" alt="logo" srcset="">
            </div>
            <div id="item2">
                <ul class="nav-items">
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                </ul>
            </div>
            <div id="item3">
                <a href="/login"><button id="nav-button">Login</button></a>
            </div>
        </nav>
    </div>

    <div class="section">
        <h1 class="primary" id = "first">
            Welcome To One 
        </h1>
        <h1 class="primary" id="second">Stop Solution Of </h1>
        <h1 class="primary" id="third">Hassleless Printing</h1>

        <p class="secondary">We print your worksheets and make them available in just 1 hour.</p>
        
        <div class="get">
            <a href="/login">
                <button class="GET">Get Started</button>    
            </a>    
        </div>
        <div class="social">
            <a href="https://www.facebook.com/vishudit421?mibextid=ZbWKwL">
                <img src="./Images/facebookLogo.png" alt="" class="hoverable">
            </a>
            <a href="https://www.instagram.com/_udit_ud_/">
                <img src="./Images/instaLogo.png" alt="" class="hoverable">
            </a>
            <a href="#">
                <img src="./Images/twitterLogo.png" alt="" class="hoverable">
            </a>
        </div>
    </div>

    <div class="right-part">
        <img src="./Images/printing.png" alt="" srcset="">
    </div>
    
    
</body>
</html>