<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintDeck-Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/login-css.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="icon" type="image/x-icon" href="./Images/favIcon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <div class="background">        </div>
    {{>header Link = "/signup" tag = "SignUp"}}
    <section class="container">
        <div class="cont1">
            <img src="./Images/login-college.png" alt="" srcset="">
            <h2 class="tagline">
                Place your order from the classrooms/hostels <br> and collect it in just 1 hour.
            </h2>
        </div>
        <div class="cont2">
            <div class="material">
                <h1 class="prime">
                    Hello Owners'
                </h1>
                <p class="text">To use our services, you've to login through your Email and Password</p>
                <p class="text" style="color:red; font-size:1.0rem; margin-top:5px">{{error}}</p>
                <form action="/mlogin" method="post">
                    <div class="form">
                        <input name= "email" type="email" placeholder="Email Address" style="margin-top: 25px;" >
                        <span>
                            <input name= "password" type="password" id="id_password" placeholder="Password" style="width: 87%">
                            <i class="far fa-eye" id="togglePassword" style="margin-left: -40px; cursor: pointer; color: grey"></i>
                        </span>
                    </div>
                    <button type="submit" class="submit">mLogin</button>
                </form>
                
            </div>
            <a href="/login" class="merchant"><p class="text" style="margin-top: 20px">Login as User!</p></a>
           
        </div>
    </section>
</body>
<script>
    const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');

  togglePassword.addEventListener('click', function (e) {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
});
</script>
</html>