<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintDeck-SignUp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/sigup-css.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="icon" type="image/x-icon" href="./Images/favIcon.png">


    
</head>
<body>

    <div class="background">        </div>
    {{>header Link= "/login" tag= "Login"}}
    <section class="container">
        <div class="login">
            <h1 class="prime">
                Create an Account
            </h1>
            <p>Let's get started. Fill your credentials here to proceed</p>
            <p style="color:red;">{{error}}</p>

        </div>
        <div class="content">
            <img src="./Images/college boy.png" alt="" srcset="">
            <h2 class="text">Sign up now and get your worksheets and stuffs printed!</h2>
        </div>
    </section>
    <form action="/signup" method="post">
        <div class="login-form">
                <input type="text" name="name" placeholder="Name" required class="cred">
                <input type="email" name="email" placeholder="Email" required class="cred">
                <input type="password" name="password" id="myInput" placeholder="Password" required class="cred">
                <input type="password" name="cpassword" placeholder="Confirm Password" required class="cred">
                <span class="checkBox">
                    <input type="checkbox" onclick="showPass()"> <p> Show Password </p>
                </span>
                <input class="submit" value="Create Account" type="submit">
        </div>
    </form>
        
</body>

<script>
    function showPass(){
        console.log("Running...")
        let text = document.getElementById("myInput");
        if(text.type === "password"){
            text.type = "text";
        }else{
            text.type = "password";
        }
    }
    
</script>
</html>