<nav id="nav-bar">
    <div id="item1">
        <a href="/">
            <img src="./Images/logo.png" alt="logo" srcset="">
        </a>
    </div>
    <div id="item2">
        <ul class="nav-items">
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            {{#if orders}}
            <li><a href="/vieworders">Orders</a></li>
            {{/if}}
        </ul>
    </div>
    <div id="item3">
        <a href="{{Link}}"><button id="nav-button">{{tag}}</button></a>
    </div>
</nav>
