
<nav id="nav-bar">
    <div id="item1">
        <img src="./Images/logo.png" alt="logo" srcset="">
    </div>
    <div id="item2">
        <ul class="nav-items">
            <li><a href="#">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="#">Orders</a></li>
        </ul>
    </div>
    <div id="item3">
        <a href="{{Link}}"><button id="nav-button">{{tag}}</button></a>
    </div>
</nav>
