<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintDeck - AboutsUs</title>
    <link rel="stylesheet" href="../public/styles/aboutus.css">
   
</head>
<body>

    <!-- NAV BAR -->
    <div class="base">
        <nav id = "navbar">
            <div id="item1" class = "logo">
                <img src="../public/Images/logo.png" alt="logo" srcset="">
            </div>
            <div id="item2" class="nav-items">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Orders</a></li>
                </ul>
            </div>
            <div id="item3" class = "signout">
                <button type="submit">LogOut</button>
            </div>
        </nav>
        <section class="content">
            <div class="details">
                <h1 class="prim" id = "name">Udit</h1>
                <p id = "description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sed neque eligendi,<br> incidunt dolore doloremque porro nostrum aspernatur ducimus a, ipsum ratione<br>
                     nesciunt reiciendis delectus exercitationem officia placeat eius aliquam omnis accusantium!</p>  
                <a href="http://www.google.com" class="social">LinkedIn</a>  
            </div>
            <div class="img" >
                <img id = "image" src="../public/Images/boy1.png" alt="">
            </div>

        </section>
    </div>  
    <script type="text/javascript" src="../public/styles/Aboutus-script.js"></script>
</body>
</html>