<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>

</head>

<body>
        </div>
    <header>
        <div id="nav">
            <div id="icon"><img src="/project/resource/logo-removebg-preview.png" alt="404"></div>
            <div id="option1">
                <a href="#">Home</a>
                <a href="#">About us</a>
                <a href="#">Contact Us</a>
                <a href="#">Orders</a>
            </div>
            <div id="button">
                <button type="button"></button>
            </div>

        </div>
    </header>
    <div id="bg"></div>
    <section id="section1">
        <div id="title1">
            <a href="#">Upload Your Document</a>
        </div>
        <p id="text1">Select the printing shop below</p>
    </section>
    <section id="section2">
        <div id="pictures">
            <div><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY5gwKdky_7_a_RVGL1OKBLYlJarGuTEkzxg&usqp=CAU"
                    alt=""></div>
            <div><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY5gwKdky_7_a_RVGL1OKBLYlJarGuTEkzxg&usqp=CAU"
                    alt=""></div>
            <div><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY5gwKdky_7_a_RVGL1OKBLYlJarGuTEkzxg&usqp=CAU"
                    alt=""></div>
        </div>
    </section>

</body>

</html>
<link rel="stylesheet" href="page.css">