*{
    margin: 0px;
    padding:0px;

}

.conatiner{

    margin: 35px 80px;
    text-align: center;
}

.navbar{
display: inline;
padding: 30px;
font-size: 20px;
text-align: center;
border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(158, 157, 157);
}

.btn{
margin: 0px 39px;
background-color: #eb9749;
padding: 8px 27px;
color:black;
border-radius: 21px;
font-size: 22px;
cursor: pointer;


}

.btn:hover{
 color: white;
 cursor: pointer;
}
.right{
position: absolute;
right: 34px;
top:22px;

display: inline-block;

}

.heading{
text-align: left;
padding: 220px 90px;
left :30px;
margin: 50px 0px;



}
.logo{
display: inline-block;
position: absolute;
left :34px;
top: 0px;
}
.logo img{
    margin: 10px;
    width:125px;



}
#long{
    font-family: 'Tilt Neon', cursive;
}
#Printing{
    font-family: 'Tilt Neon', cursive;
    padding: 13px 0px;
}
#PrintDeck{
    font-family: 'Tilt Neon', cursive;
    padding: 5px 0px;
    
}
.heading{
    font-family: 'Tilt Neon', cursive;
    font-size: x-large;


}
.get{

     position:absolute; 
bottom: 100px;

padding: 33px 36px;
margin: 25px 5px ;
width: 250px;
height: 16px;

}
@keyframes GET {
to{
width: 150px ;
}
from{
width: 200px;
}

}

@keyframes GET {
to{
   width: 250px;

}
25%{
color: rgba(140, 126, 18, 0.884);
}
from{
    width: 150px;

}
100%{
   /* color: rgb(36, 138, 140); */
   background-color: antiquewhite;

}
} 
.backgr{
    position: absolute;
    display: inline-block;
    width: 545px;
    height: 688px;
top:0px;
right: 0px;
z-index: -1;
    background: #ABD9E3;
    border-radius: 0px 0px 0px 1000px;
    opacity: 100%;
}


.GET{
    border: 0px white;
    padding: 19px 7px;
    margin: 9px 28px;
    font-size: 23px;
    border-radius: 11px;
    background-color: rgba(49, 216, 119, 0.541);
    width: 150px;
   

}
.GET:hover{
    color: rgb(36, 11, 11);
    cursor :pointer;
    animation-name: GET;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:both;
    animation-timing-function:ease-out;
    animation-direction:initial;

}

.bimg{
    display: inline-block;
position:absolute;
left :498px;
bottom: 86px;
right: 50px;


}
.bimg img{

    width:600px;
    filter: brightness(100%); 
    border-top-left-radius: 280px;
    border-top-right-radius: 167px;
    border-bottom-left-radius: 30px;
    opacity: 90%;

}
@media (min-width:400px) and (max-width:500px)and (min-height:500px) and (max-height:500px)  {
    .navbar{
        display: block;
    }
    .conatiner{
        display: block;
    }
    
}
@media (min-width:375px) and (max-width:500px) and (min-height:500px) and (max-height:500px) {

    .logo img{

        display: block;
        position: left;

    }
    .heading{
        display: block;

    }
    
}
@media (min-width:820px) and (max-width:500px)and (min-height:500px) and (max-height:500px)  {
    .bimg img{
        width:600px;
    filter: brightness(100%); 
    border-top-left-radius: 280px;
    border-top-right-radius: 167px;
    border-bottom-left-radius: 30px;
    opacity: 90%;

    }
    .bgim{
        display: inline;
    }
}